body{
    margin: 0px;
}
#container1 {
    background-color: #222936;
}
#header {
    display: flex;
    color: white;
    justify-content: space-around;
}
#logo {
    flex: 7;
    margin: 3px;
    margin-left: 100px;
    font-size: 20px;
}
.header-link {
    margin:10px;
    flex:1;
    font-size: 12px;
}

#flex-container1 {
    display: flex;
    color: white;
    justify-content: center;
    padding: 100px;
    padding-bottom: 48px;
}

#flex-title {
    display: flex;
    flex-direction: column;
}

#title1 {
    margin: 0px;
    font-size: 50px;
}

#signup1 {
    background-color: #5c81ed;
    color: white;
    border: none;
    border-radius: 6px;
    width: 120px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin-top: 25px;
}

#title2 {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 25px;
}

#flex-container2 {
    display: flex;
    justify-content: center;
    gap: 50px
}
 .image {
    width: 150px;
    height: 150px;
    border: #5c81ed solid 4px;
    border-radius: 10px
 }

 .description2 {
    width: 150px;
    text-align: center;
 }

 #container3 {
    background-color: lightgray;
    margin-top: 70px;
    padding: 100px
 }

 #quote {
    font-size: 40px;
    font-style: italic;
 }

#flex-container3 {
    display: flex;
    justify-content: right;
}